html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tree-container {
    margin-top: 2%;
}
.main-title {
  text-align: center;
}
#number {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: none;
    /* background: rgb(15, 218, 184); */
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}