html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tree-container {
    margin-top: 2%;
}
.main-title {
    text-align: center;
}
.tf-nc {
    height: 2.5rem;
    width: 3.5rem;
    border-radius: 50%;
    /* border: none; */
    background-color: rgb(9, 245, 205);
    text-align: center;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

a::before {
  animation: animate .5s linear
}
a::after {
  animation: animateTwo .5s linear
}

  @keyframes animate
  {
    0% {
        height: 0px;
        background-color: rgb(255, 0, 0);
    }
    50%{
        height: 10px;
        background-color: rgb(255, 0, 0);
    }
    100%{
        height: 20px;
        background-color: rgb(255, 0, 0);
    }
  }

  @keyframes animateTwo
  {
    0% {
        height: 25px;
        background-color: rgb(255, 0, 0);
    }
    100%{
        height: 25px;
        background-color: rgb(255, 0, 0);
    }
  }