html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/* .leftright-container ul {
  list-style: none;
} */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tree-container {
    margin-top: 2%;
}
.main-title {
  text-align: center;
}
.tf-custom .tf-nc {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: none;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* ul {
    list-style: none;
  }
  
  li {
    background-color: rgb(15,218,184);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: none;
  }
  p {
    text-align: center;
    margin-top: auto;
} */

/* .number li{
  transform: translateX(-5em);
} */

/* #right > li {
  transform: ;
} */

body {
  padding: 2rem 2rem 1rem;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}
footer {
  margin-top: auto;
  text-align: right;
  font-size: .8em;
}
footer a {
  color: inherit;
  border-bottom: 1px solid;
  text-decoration: none;
}