html {
    box-sizing: border-box;
  }

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tree-container {
    margin-top: 2%;
}
.main-title {
    text-align: center;
}
.tf-nc {
    height: 2.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: rgb(9, 245, 205);
    text-align: center;
}

a::before {
  animation: animate .3s linear
}
a::after {
  animation: animateTwo .3s linear
}

  @keyframes animate
  {
    0% {
        height: 0px;
        width: 3px;
        background-color: rgb(0, 174, 255);
    }
    50%{
        height: 10px;
        width: 3px;
        background-color: rgb(0, 174, 255)
    }
    100%{
        height: 20px;
        width: 3px;
        background-color: rgb(0, 174, 255)
    }
  }

  @keyframes animateTwo
  {
    0% {
        height: 25px;
        width: 3px;
        background-color: rgb(0, 174, 255)
    }
    100%{
        height: 25px;
        width: 3px;
        background-color: rgb(0, 174, 255)
    }
  }